:root{
	--primary: #ee8700;
}
.bg-login-a{
    background: url('../img/login2.jpg'); 
    height: 85vh; 
    background-position: center;
	background-size: cover;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top: 2px solid var(--primary);
    border-bottom: 2px solid var(--primary);
}

.bg-registro-a{
    background: url('../img/login.jpg'); 
    height: 85vh; 
    background-position: center;
	background-size: cover;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top: 2px solid var(--primary);
    border-bottom: 2px solid var(--primary);
}


.bg-login-b{
    background: rgb(0, 0, 0, 0.5);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top: 2px solid var(--primary);
    border-bottom: 2px solid var(--primary);
}

.btn-login{
    outline: none;
    background: rgba(0, 0, 0, .7);
    border: 1px solid var(--primary);
    border-radius: 5px;
    color: var(--primary);
    &:hover{
        outline: none;
        background: rgba(0, 0, 0, .5);
        border: 1px solid var(--primary);
        border-radius: 5px;
        color: #fff;
        transition: all 0.5s ease;
        box-shadow: 3px 3px 3px rgba(226, 102, 0, 0.7), -3px -3px 3px rgba(226, 102, 0, 0.7);
    }
    &:active{
        outline: none;
        background: rgba(0, 0, 0, .5);
        border: 1px solid var(--primary);
        border-radius: 5px;
        color: #fff;
        transition: all 0.5s ease;
        box-shadow: 3px 3px 3px rgba(226, 0, 0, 0.7), -3px -3px 3px rgba(226, 0, 0, 0.7);
    }
}

.fon-lg{
	background-color: rgb(0, 0, 0, 0.3);
    height: 85vh;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    /* backdrop-filter: blur( 1px ); */
}

.text-orange{
    color: var(--primary);
}