:root{
	--primary: #ee8700;
}
.bg-login-a{
    background: url('../img/login.jpg'); 
    height: 85vh; 
    background-position: center;
	background-size: cover;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top: 2px solid var(--primary);
    border-bottom: 2px solid var(--primary);
}

.bg-registro-a{
    background: url('../img/registro.jpg'); 
    height: 85vh; 
    background-position: center;
	background-size: cover;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top: 2px solid var(--primary);
    border-bottom: 2px solid var(--primary);
}


.bg-login-b{
    background: rgb(0, 0, 0, 0.5);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top: 2px solid var(--primary);
    border-bottom: 2px solid var(--primary);
}

.btn-login{
    outline: none;
    background: rgba(0, 0, 0, .7);
    border: 1px solid var(--primary);
    border-radius: 5px;
    color: var(--primary);
    &:hover{
        outline: none;
        background: rgba(0, 0, 0, .5);
        border: 1px solid var(--primary);
        border-radius: 5px;
        color: #fff;
        transition: all 0.5s ease;
        box-shadow: 3px 3px 3px rgba(226, 102, 0, 0.7), -3px -3px 3px rgba(226, 102, 0, 0.7);
    }
    &:active{
        outline: none;
        background: rgba(0, 0, 0, .5);
        border: 1px solid var(--primary);
        border-radius: 5px;
        color: #fff;
        transition: all 0.5s ease;
        box-shadow: 3px 3px 3px rgba(226, 0, 0, 0.7), -3px -3px 3px rgba(226, 0, 0, 0.7);
    }
}

.form-floating input{
    background: none;
    color: #fff;
    border-radius: 6px;
    border: none;
    border-bottom: 2px solid var(--primary);
    transition: box-shadow 0.3s ease, border-color 0.3s ease;
    &:focus{
        background: rgb(0, 0, 0, 0.5);
        color: #fff;
        outline: none;
        box-shadow: 0 0 8px 2px var(--primary);
        border-color: var(--primary);
    }
    &:read-only{
        background: rgb(0, 0, 0, 0.5);
        color: #fff;
    }
    &:disabled {
        background: rgb(0, 0, 0, 0.5);
        color: #fff;
        opacity: 1;
    }
}
